{% extends 'myapp/base.html' %} <!--ใน '' คือชื่อไฟล์ที่เก็บไฟล์ base.html -->
{% load humanize %}


{% block article %}


<div class="container">
	  <h2>รายการสั่งซื้อทั้งหมด (admin)</h2>
	  <p>รายการสั่งซื้อและสถานะการสั่งซื้อ</p>            
	  <table class="table">
		<thead>
		<tr>
		  <th>เวลาสั่งซื้อ</th>
		  <th>order id</th>
		  <th>ยอดรวม</th>
		  <th>สลิป</th>
		  <th>จ่ายแล้ว</th>
		</tr>
		</thead>
		<tbody>
		{% for od in allorder %}
		<tr>
		  <td>{{od.stamp}}</td>
		  <td>{{od.orderid}} ({{od.name}})</td>
		  <td>{{od.total|intcomma}}</td>
		  <td>

		  {% if od.slip %}
			<a href="{{od.slip.url}}">ดูสลิป </a>
		  {% else %}
			<i class="fa fa-times-circle" style="font-size: 30px ;color:red;"></i>
		  {% endif %}

		  </td>

		  <td>
		  	{% if od.paid and od.slip %}
		  		<a href="{% url 'updatestatus' od.orderid 'cancel' %}"><i class="	fa fa-check-circle" style="font-size: 30px ;color:green;"></i></a>
		  	{% elif od.paid == False and not od.slip %}
		  		<i class="fa fa-times-circle" style="font-size: 30px ;color:red;"></i>
		  	{% else %}
		  		<a class="btn btn-light" href="{% url 'updatestatus' od.orderid 'confirm' %}"><i class="fa fa-plus-square" style="font-size: 15px ;color:blue;">ยืนยัน</i></a>
		  	{% endif %}
		  </td>

		</tr>
		{% endfor %}

		</tbody>
	  </table>


</div>    


{% endblock article %}

