<!DOCTYPE html>
<html lang="en">
<head>
  <title>KKKM Shopping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom: 0;">

  <h2>ขายของกันไหม - Kai Khong Kun Mai</h2>

</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'home-page' %}">KKKM - Kai Khong Kun Mai</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-page' %}">เกี่ยวกับ</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact-page' %}">ติดต่อเรา </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'allproduct-page' %}">สินค้าทั้งหมด</a>
                  </li> 

                  {% if user.is_authenticated and user.profile.usertype == 'member' %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">รายการสั่งซื้อ</a>
                  </li> 
                  {% endif %}

                  <li class="nav-item">
                    {% if user.is_authenticated and user.profile.usertype == 'admin' %} <!--จะshow when you login-->
                      <a class="nav-link" href="{% url 'addproduct-page' %}">เพิ่มสินค้า</a>
                    {% endif %}
                  </li>

                  <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ประเภทสินค้า</a>

                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="#">เสื้อ</a>
                      <a class="dropdown-item" href="#">กางเกง</a>
                      <a class="dropdown-item" href="#">อื่นๆ</a>
                    </div>
                  </li>  


                </ul>

                          {% if user.is_authenticated %}
                            <p style="color: white; margin-top: 10px">สวัสดีคุณ&nbsp&nbsp {{ user.first_name }}
                            {{ user.last_name }} &nbsp&nbsp[ {{user.profile.usertype}} ]&nbsp </p>
                            <a class="btn btn-light" href="{% url 'logout' %}">ออกจากระบบ</a>
                          {% else %}
                            <a class="btn btn-primary" href="{% url 'register-page' %}">สมัครสมาชิก</a>&nbsp&nbsp&nbsp 
                            <a class="btn btn-primary" href="{% url 'login' %}">เข้าสู่ระบบ</a>

                          {% endif %}
                          

                            

                
  </div>  
    
</nav>
  
<div class="container" style="margin-top: 30px;">
  {% block article %}
  {% endblock article %}
</div>

</body>
</html>
