{% extends 'myapp/base.html' %} <!--ใน '' คือชื่อไฟล์ที่เก็บไฟล์ base.html -->

{% block article %}

  
<div class="container">
      <h2>เราสามารถช่วยเหลืออะไรคุณได้บ้าง...โปรดติดต่อเรา </h2><br><br>
      <p> 
            <i class="fa fa-address-card-o" style="font-size:40px">&nbsp&nbspติดต่อเกี่ยวกับบัญชีผู้ใช้งาน </i><br><br>
            <h5> Line : @kkkm_first (มี@)</h5><br><br>

            <i class="fa fa-comments-o" style="font-size:40px">&nbsp&nbspติดต่อเกี่ยวกับรายการสินค้า </i><br><br>
            <h5> Line : @kkkm_kwan (มี@)</h5><br><br>

            <i class="fa fa-handshake-o" style="font-size:40px">&nbsp&nbspติดต่อเกี่ยวกับโฆษณา </i><br><br>
            <h5> Line : @kkkm_poon (มี@)</h5><br><br>

            <i class="fa fa-commenting-o" style="font-size:40px"  >&nbsp&nbspติดต่อเกี่ยวกับเรื่องอื่นๆ  </i><br><br>
            <h5> Line : @kkkm_hong (มี@)</h5><br><br>

      </p>  
      
  
</div>
{% endblock article %}