{% extends 'myapp/base.html' %} <!--ใน '' คือชื่อไฟล์ที่เก็บไฟล์ base.html -->
{% load humanize %}
{% block article %}
{% if status == 'delete' %}
	<div class="alert alert-danger">
	    <strong>ลบสินค้าเรียบร้อยแล้ว!</strong> หากต้องการสินค้าเพิ่ม กรุณากดสั่งสินค้าใหม่
	</div>
{% endif %}
<br>

<div class="container">
	  <h2>แก้ไขข้อมูลในรถเข็น</h2>
	  <p>ท่านสามารถแก้ไขข้อมูลในรถเข็นสินค้าได้</p>  
	  <form method="POST" id="formsave" >   
	  {% csrf_token %}         
	  <table class="table">
	    <thead>
		<tr>
		  <th>รหัสสินค้า</th>
		  <th>สินค้า</th>
		  <th>ราคา</th>
		  <th>จำนวน</th>
		  <th>ลบ</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for pd in mycart %}
		<tr>
		  <td>{{pd.productid}}</td>
		  <td>{{pd.productname}}</td>
		  <td>{{pd.quantity}}</td>
		  <td><input type="text" name="pd_{{pd.productid}}" value="{{pd.quantity}}"></td>
	
		  <th>
		  -
		  </th>
		</tr>
	    {% endfor %}
	    </tbody>
	  </table>
	  
			<input type="hidden" name="checksave" value="checksave">

	  </form>
	  <div class="row">
		  <button type="submit" form="formsave" class="btn btn-primary">บันทึก</button>
		  <div style="padding: 10px;"></div>
		  <form id="formclear" method="POST" onsubmit="return confirm('ยืนยันการลบสินค้าใช่หรือไม่?');">
		  	  {% csrf_token %}
			  <input type="hidden" name="clear" value="clear">
			  <button type="submit" form="formclear" class="btn btn-danger">ลบสินค้าทั้งหมด</button>
		  </form>
	  </div>
</div>    


{% endblock article %}

