{% extends 'myapp/base.html' %} <!--ใน '' คือชื่อไฟล์ที่เก็บไฟล์ base.html -->
{% load humanize %}


{% block article %}
{% if status == 'delete' %}
	<div class="alert alert-danger">
	    <strong>ลบสินค้าเรียบร้อยแล้ว!</strong> หากต้องการสินค้าเพิ่ม กรุณากดสั่งสินค้าใหม่
	</div>
{% endif %}
<br>

<div class="container">
	  <h2>รถเข็นสินค้าของฉัน</h2>
	  <p>สินค้าทั้งหมดของลูกค้าที่อยู่ในตะกร้า พร้อมยืนยันการสั่งซื้อ</p>            
	  <table class="table">
	    <thead>
		<tr>
		  <th>เวลาสั่งซื้อล่าสุด</th>
		  <th>รหัสสินค้า</th>
		  <th>สินค้า</th>
		  <th>ราคา</th>
		  <th>จำนวน</th>
		  <th>รวมยอด</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for pd in mycart %}
		<tr>
		  <td>{{pd.stamp}}</td>
		  <td>{{pd.productid}}</td>
		  <td>{{pd.productname}}</td>
		  <td>{{pd.price|intcomma}}</td>
		  <td>{{pd.quantity}}</td>
		  <td>{{pd.total|intcomma}}</td>

		  <th>
		  <form method="POST" id="form{{pd.productid}}" onsubmit="return confirm('ยืนยันการลบสินค้าใช่หรือไม่?');" > 
   			{% csrf_token %} 
   			<input type="hidden" name="productid" value="{{pd.productid}}">
		  	<button type="submit" form="form{{pd.productid}}" class="btn btn-danger">ลบ</button>
		  </form>
		  </th>
		</tr>
	    {% endfor %}
	    <tr>
	    	<td><h2>Total</h2></td>
	    	<td></td>
	    	<td></td>
	    	<td></td>
	    	<td><h4>{{count}}</h4></td>
	    	<td><h4>{{total|intcomma}}</h4></td>
	    	<td></td>
	    </tr>
	    </tbody>
	  </table>
	  <a href="{% url 'mycartedit-page' %}" class="btn btn-primary">แก้ไขจำนวนสินค้า</a>
	  <div style="padding:10px;"></div>
	  <a href="{% url 'checkout-page' %}" class="btn btn-success">Checkout</a>
	  
</div>    


{% endblock article %}

