{% extends 'myapp/base.html' %} <!--ใน '' คือชื่อไฟล์ที่เก็บไฟล์ base.html -->

{% block article %}
  
  
      <div class="container" style="margin-bottom: 50px"> 
  <!-- หน้าที่ใช้สำหรับเพิ่มสินค้าลง database โดนที่ไม่ต้องเข้าไปเพิ่มในหน้า Django administration -->
      <h2>สมัครสมาชิก</h2>
  <p>กรุณากรอกข้อมูลสำหรับลงทะเบียนของคุณ</p>
  <form method="POST" > 
    <!-- enctype="multipart/form-data" ต้องใส่ เมื่อเกี่ยวกับไฟล์ต่างๆ ex. .pdf .jpg etc. -->
    {% csrf_token %} <!--ระบบ security of Django-->

    <div class="form-group">
      <label for="first_name">ชื่อ</label>
      <input type="text" class="form-control" id="first_name" name="first_name">
    </div>

    <div class="form-group">
      <label for="last_name">นามสกุล</label>
      <input type="text" class="form-control" id="last_name" name="last_name">
    </div>

    <div class="form-group">
      <label for="email">อีเมลล์</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
      <label for="password">รหัสผ่าน</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>


  </form>
      
  
      </div>
{% endblock article %}

